<!doctype html>


<html lang="en" class="no-js">
<head>
    <title>没时间看电影</title>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" media="screen">
    <!-- REVOLUTION BANNER CSS SETTINGS -->
    <link rel="stylesheet" type="text/css" href="/css/fullwidth.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/css/settings.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/css/magnific-popup.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/css/responsive.css" media="screen">

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/jquery.migrate.js"></script>
    <script type="text/javascript" src="/js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/jquery.imagesloaded.min.js"></script>
    <script type="text/javascript" src="/js/jquery.isotope.min.js"></script>
    <!--<script type="text/javascript" src="/js/retina-1.1.0.min.js"></script>-->
    <script type="text/javascript" src="/js/plugins-scroll.js"></script>

    <!--&lt;!&ndash;&lt;!&ndash; jQuery KenBurn Slider  &ndash;&gt;&ndash;&gt;-->
    <!--<script type="text/javascript" src="/js/jquery.themepunch.revolution.min.js"></script>-->
    <script type="text/javascript" src="/js/script.js"></script>

    <!--&lt;!&ndash;[if lt IE 9]>-->
    <!--<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>-->
    <![endif]-->


</head>
<body>


<!-- Container -->
<div id="container">
    <!-- Header
        ================================================== -->
    <header class="clearfix">
        <!-- Static navbar -->
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"><img alt="" src="/images/logo.png"></a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">

                        <li><a id="getVideo" href="/a/video">添加视频</a>

                        </li>
                        <li><a id="getAuthor" href="/a/author">添加作者</a>

                        </li>
                        <li><a id="getClassic" href="/a/classic">添加集合</a>

                        </li>
                        <li><a id="getFilm" href="/a/film">添加电影</a>

                        </li>
                        <li><a id="addAbout" href="about.html">电影人</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>