<%- include admin_header.ejs %>
<script type="text/javascript" src="/js/admin.js"></script>



<div class="container">
    <div class="comment-form form-horizontal">
        <hr/>
        <div class="row">

            <div class="col-md-6">
                <div class="col-md-12">
                    <h4 class="text-info">优酷</h4>
                    <input type="text" name="name" class="input-sm" placeholder="优酷URL" id="txtYoukuURL"
                           value="http://v.youku.com/v_show/id_XMTU5OTk5OTQ0OA==.html?from=y1.9-3.1">
                </div>
                <div class="col-md-12">

                    <button class="btn btn-info btn-sm" onclick="getYouKuData()">获取youku信息</button>
                    <button class="btn btn-success btn-sm" onclick="inputVideos()">关联到电影</button>
                    <button class="btn btn-info btn-sm" onclick="saveYoukuInfo()">保存youku信息</button>

                </div>
                <div id="showYoukuInfo" class="col-md-12">
                </div>

            </div>


            <div class="col-md-6">
                <div class="col-md-12">
                    </br>
                    <h4 class="text-info col-md-10">豆瓣电影</h4>
                        <textarea name="name" class="input-sm" placeholder="电影ID数组" id="doubanidlist"
                                  value="" style="font-size: 18px"></textarea>
                </div>
            </div>

        </div>

        <%- include admin_doubanMovie.ejs %>




    </div>
</div>


<script>






    //优酷基本信息
    var gYOUKUDATA = {}


    //保存youku视频信息
    function saveYoukuInfo() {

        var movielist = $("#doubanidlist").val();
        var moviearray = []
        if( movielist.length > 1 ){
            moviearray = movielist.split(",")
        }

        if (moviearray.length > 0)
        {
            gYOUKUDATA.doubanid = moviearray
              gYOUKUDATA.update = $.now();
            gYOUKUDATA.source = 'youku';
            $.post('/api/savefilm', gYOUKUDATA, function (data) {
                alert(data);
            });
        } else {
            alert('没有电影数据！(gMOVIE.id)')
        }
    }


    //通过URL、获取youku信息
    function getYouKuData() {
        var youkuurl = $("#txtYoukuURL").val();
        if (youkuurl.length > 0) {
            $('#showYoukuInfo').html('')
            var arr1 = youkuurl.split("id_");
            var arr2 = arr1[1].split("==");
            var youkuid = arr2[0]
            var url = 'http://openapi.youku.com/v2/videos/show_basic.json?video_id=' + youkuid + '&client_id=cf13550a4889b891'
            $.ajax(url, {
                dataType: 'jsonp'
            }).done(function (data) {
                gYOUKUDATA = data
                if (gMOVIE.douban) {
                    gYOUKUDATA.doubanid = gMOVIE.douban.id
                    gYOUKUDATA.update = $.now()
                }
                $('#showYoukuInfo').append('<div class="col-md-5"><img src = "' + gYOUKUDATA.thumbnail + '"></img>')
                $('#showYoukuInfo').append('<h6>id:' + gYOUKUDATA.id + '</h6>')
                $('#showYoukuInfo').append('<h6>title:' + gYOUKUDATA.title + '</h6>')
                $('#showYoukuInfo').append('<h6>user.name:' + gYOUKUDATA.user.name + '</br>')
                $('#showYoukuInfo').append('<h6>user.link:' + gYOUKUDATA.user.link + '</br>')
                $('#showYoukuInfo').append('<h6>user.id:' + gYOUKUDATA.user.id + '</br></h6>')
                $('#showYoukuInfo').append('</div>')


                $('#txtMovieName').val(gYOUKUDATA.title)
                console.log(gYOUKUDATA);
                getFenciByManual();
            }).fail(function () {
                alert('查找失败');
            });

        } else {
            alert('地址为空！！！')
        }
    }


    //获取单选按钮的值
    function getRadioValue(radioname) {
        var value = "";
        var radio = document.getElementsByName(radioname);
        for (var i = 0; i < radio.length; i++) {
            if (radio[i].checked == true) {
                value = radio[i].value;
                break;
            }
        }
        return value;
    }


    //将选中电影信息关联到视频
    function inputVideos() {
        if (gMOVIE.douban.id) {
            var doubanid = gMOVIE.douban.id
            var movielist = $("#doubanidlist").val();
            var moviearray = []
            if( movielist.length > 1 ){
                moviearray = movielist.split(",")
            }
            var ifpush = 0;
            for(var i =0;i < moviearray.length;i++){
                if (moviearray[i] == doubanid){
                    ifpush = 1
                }
            }
            if(ifpush == 0){
                moviearray.push(doubanid);
                $("#doubanidlist").val(moviearray);
            }
        } else {
            alert('没有电影数据呢')

        }
    }



</script>

<%- include footer.ejs %>