<!-- Page Banner -->
<div class="page-banner">
    <div class="container">
         <ul class="page-tree">
            <li><a href="#">Home</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#"><%- title %></a></li>
         </ul>
    </div>
</div>