<!-- Page Banner -->
<div class="page-banner">
    <div class="container">
        <ul class="page-tree">
            <li> Killing the author quiz but no let up on the review process</li>
            <li> Killing the author quiz but no let up on the review process</li>
            <li> Killing the author quiz but no let up on the review process</li>
            <li> Killing the author quiz but no let up on the review process</li>
        </ul>
    </div>
</div>

<div class="list-group">
    <a href="#" class="list-group-item active">
        <h4 class="list-group-item-heading">Latest Data</h4>
        <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel adipiscing quam. Maecenas vehicula rhoncus magna, vitae lacinia sem auctor a. Vestibulum aliquam, nisl nec luctus volutpat, turpis orci posuere arcu, eget consectetur quam nunc ac arcu.</p>
    </a>
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Older Data</h4>
        <p class="list-group-item-text">Maecenas in facilisis nisi. Proin gravida nunc vel justo vestibulum, quis adipiscing velit faucibus. Sed a hendrerit orci. Nunc ut bibendum eros, at varius urna. Integer cursus condimentum dui vitae sagittis. Curabitur at vehicula nunc. Praesent at sem non nisl pellentesque placerat.</p>
    </a>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        Blockquotes
    </div>
    <div class="panel-body">
        <h4>Default Blockquote</h4>
        <blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        </blockquote>
        <h4>Blockquote with Citation</h4>
        <blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <small>Someone famous in
                <cite title="Source Title">Source Title</cite>
            </small>
        </blockquote>
        <h4>Right Aligned Blockquote</h4>
        <blockquote class="pull-right">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        </blockquote>
    </div>
    <!-- /.panel-body -->
</div>