

<div class="tabs-widget widget">
    <ul class="tab-links">
        <li><a class="tab-link1 active" href="#"> 电影信息</a></li>
        <li><a class="tab-link2 " href="#"> 短评论</a></li>
    </ul>
    <div class="tab-box">
        <div class="tab-content active">
            <ul class="post-popular">


                <div class="about-us-text">
                    <h3><%-  movieInfo.douban.title  %></h3>
                    <ul class="contact-information-list">
                        <li><span><i class="fa fa-home"></i>lorem ipsum street</span></li>
                        <li><span><i class="fa fa-phone"></i>9930 1234 5679</span></li>
                        <li><a href="#"><i class="fa fa-envelope"></i>info@orbit7.com</a></li>
                    </ul>
                    <div class="innner-box">
                        <img alt="" src="upload/about.jpg">
                        <p><span>Lorem Ipsum </span> <%-  movieInfo.douban.summary  %></p>
                    </div>
                </div>

            </ul>
        </div>
        <div class="tab-content ">
            <ul class="post-recent">
                <li>
                    <a href="#"><i class="fa  fa-refresh"> 换一批</i></a>

                </li>
                <li>
                    <img alt="" src="images/post-img.png">
                    <h6><a href="#">Lorem Ipsum. Proin gravida nibh vel velit auctor </a></h6>
                </li>
                <li>
                    <img alt="" src="images/post-img.png">
                    <h6><a href="#">Lorem Ipsum. Proin gravida nibh vel velit auctor </a></h6>
                </li>
                <li>
                    <img alt="" src="images/post-img.png">
                    <h6><a href="#">Lorem Ipsum. Proin gravida nibh vel velit auctor </a></h6>
                </li>
                <li>
                    <img alt="" src="images/post-img.png">
                    <h6><a href="#">Lorem Ipsum. Proin gravida nibh vel velit auctor </a></h6>
                </li>
                <li>
                    <img alt="" src="images/post-img.png">
                    <h6><a href="#">Lorem Ipsum. Proin gravida nibh vel velit auctor </a></h6>
                </li>
                <li>
                    <img alt="" src="images/post-img.png">
                    <h6><a href="#">Lorem Ipsum. Proin gravida nibh vel velit auctor </a></h6>
                </li>
                <li>
                    <img alt="" src="images/post-img.png">
                    <h6><a href="#">Lorem Ipsum. Proin gravida nibh vel velit auctor </a></h6>
                </li>
                <li>
                    <img alt="" src="images/post-img2.png">
                    <h6><a href="#">Sollicitudin, lorem quis bibendum auctor, nisi elit</a></h6>
                </li>
                <li>
                    <img alt="" src="images/post-img3.png">
                    <h6><a href="#">Aliquet. Aenean sollicitudin, lorem quis bibendum auctor</a></h6>
                </li>
                <li>
                    <img alt="" src="images/post-img3.png">
                    <h6><a href="#">Aliquet. Aenean sollicitudin, lorem quis bibendum auctor</a></h6>
                </li>
                <li>
                    <img alt="" src="images/post-img3.png">
                    <h6><a href="#">Aliquet. Aenean sollicitudin, lorem quis bibendum auctor</a></h6>
                </li>
                <li>
                    <img alt="" src="images/post-img3.png">
                    <h6><a href="#">Aliquet. Aenean sollicitudin, lorem quis bibendum auctor</a></h6>
                </li>
                <li>
                    <img alt="" src="images/post-img3.png">
                    <h6><a href="#">Aliquet. Aenean sollicitudin, lorem quis bibendum auctor</a></h6>
                </li>
                <li>
                    <img alt="" src="images/post-img3.png">
                    <h6><a href="#">Aliquet. Aenean sollicitudin, lorem quis bibendum auctor</a></h6>
                </li>
                <li>
                    <img alt="" src="images/post-img3.png">
                    <h6><a href="#">Aliquet. Aenean sollicitudin, lorem quis bibendum auctor</a></h6>
                </li>
                <li>
                    <img alt="" src="images/post-img3.png">
                    <h6><a href="#">Aliquet. Aenean sollicitudin, lorem quis bibendum auctor</a></h6>
                </li>
                <li>
                    <img alt="" src="images/post-img3.png">
                    <h6><a href="#">Aliquet. Aenean sollicitudin, lorem quis bibendum auctor</a></h6>
                </li>
                <li>
                    <img alt="" src="images/post-img3.png">
                    <h6><a href="#">Aliquet. Aenean sollicitudin, lorem quis bibendum auctor</a></h6>
                </li>
                <li>
                    <img alt="" src="images/post-img3.png">
                    <h6><a href="#">Aliquet. Aenean sollicitudin, lorem quis bibendum auctor</a></h6>
                </li>
                <li>
                    <a href="#"><i class="fa  fa-refresh"> 换一批</i></a>

                </li>
            </ul>
        </div>
    </div>
</div>
