

<div class="tabs-widget widget">
    <ul class="tab-links">
        <li><a class="tab-link1 active" href="#"> 电影信息</a></li>
        <li><a class="tab-link2 " href="#"> 短评论</a></li>
    </ul>
    <div class="tab-box">
        <div class="tab-content active">
            <ul class="post-popular">
                <li>
                    <img alt="" src="images/douban.png">
                    <h6><a href="#">Lorem Ipsum. Proin gravida nibh vel velit auctor </a></h6>
                </li>
                <li>
                    <img alt="" src="images/imdb.png">
                    <h6><a href="#">Sollicitudin, lorem quis bibendum auctor, nisi elit</a></h6>
                </li>
                <li>
                    <img alt="" src="images/imdb.png">
                    <h6><a href="#">Aliquet. Aenean sollicitudin, lorem quis bibendum auctor</a></h6>
                </li>
                <li>
                    <img alt="" src="images/douban.png">
                    <h6><a href="#">Lorem Ipsum. Proin gravida nibh vel velit auctor </a></h6>
                </li>
                <li>
                    <img alt="" src="images/imdb.png">
                    <h6><a href="#">Sollicitudin, lorem quis bibendum auctor, nisi elit</a></h6>
                </li>
                <li>
                    <img alt="" src="images/douban.png">
                    <h6><a href="#">Lorem Ipsum. Proin gravida nibh vel velit auctor </a></h6>
                </li>
                <li>
                    <img alt="" src="images/imdb.png">
                    <h6><a href="#">Sollicitudin, lorem quis bibendum auctor, nisi elit</a></h6>
                </li>
                <li>
                    <img alt="" src="images/imdb.png">
                    <h6><a href="#">Aliquet. Aenean sollicitudin, lorem quis bibendum auctor</a></h6>
                </li>
                <li>
                    <img alt="" src="images/douban.png">
                    <h6><a href="#">Lorem Ipsum. Proin gravida nibh vel velit auctor </a></h6>
                </li>
                <li>
                    <img alt="" src="images/imdb.png">
                    <h6><a href="#">Sollicitudin, lorem quis bibendum auctor, nisi elit</a></h6>
                </li>
                <li>
                    <img alt="" src="images/imdb.png">
                    <h6><a href="#">Aliquet. Aenean sollicitudin, lorem quis bibendum auctor</a></h6>
                </li>
                <li>
                    <img alt="" src="images/douban.png">
                    <h6><a href="#">Lorem Ipsum. Proin gravida nibh vel velit auctor </a></h6>
                </li>
                <li>
                    <img alt="" src="images/imdb.png">
                    <h6><a href="#">Sollicitudin, lorem quis bibendum auctor, nisi elit</a></h6>
                </li>
                <li>
                    <img alt="" src="images/imdb.png">
                    <h6><a href="#">Aliquet. Aenean sollicitudin, lorem quis bibendum auctor</a></h6>
                </li>
                <li>
                    <img alt="" src="images/douban.png">
                    <h6><a href="#">Lorem Ipsum. Proin gravida nibh vel velit auctor </a></h6>
                </li>
                <li>
                    <img alt="" src="images/imdb.png">
                    <h6><a href="#">Sollicitudin, lorem quis bibendum auctor, nisi elit</a></h6>
                </li>
                <li>
                    <img alt="" src="images/imdb.png">
                    <h6><a href="#">Aliquet. Aenean sollicitudin, lorem quis bibendum auctor</a></h6>
                </li>
            </ul>
        </div>
        <div class="tab-content ">
            <ul class="post-recent">
                <li>
                    <a href="#"><i class="fa  fa-refresh"> 换一批</i></a>

                </li>
                <li>
                    <img alt="" src="images/post-img.png">
                    <h6><a href="#">Lorem Ipsum. Proin gravida nibh vel velit auctor </a></h6>
                </li>
                <li>
                    <img alt="" src="images/post-img.png">
                    <h6><a href="#">Lorem Ipsum. Proin gravida nibh vel velit auctor </a></h6>
                </li>
                <li>
                    <img alt="" src="images/post-img.png">
                    <h6><a href="#">Lorem Ipsum. Proin gravida nibh vel velit auctor </a></h6>
                </li>
                <li>
                    <img alt="" src="images/post-img.png">
                    <h6><a href="#">Lorem Ipsum. Proin gravida nibh vel velit auctor </a></h6>
                </li>
                <li>
                    <img alt="" src="images/post-img.png">
                    <h6><a href="#">Lorem Ipsum. Proin gravida nibh vel velit auctor </a></h6>
                </li>
                <li>
                    <img alt="" src="images/post-img.png">
                    <h6><a href="#">Lorem Ipsum. Proin gravida nibh vel velit auctor </a></h6>
                </li>
                <li>
                    <img alt="" src="images/post-img.png">
                    <h6><a href="#">Lorem Ipsum. Proin gravida nibh vel velit auctor </a></h6>
                </li>
                <li>
                    <img alt="" src="images/post-img2.png">
                    <h6><a href="#">Sollicitudin, lorem quis bibendum auctor, nisi elit</a></h6>
                </li>
                <li>
                    <img alt="" src="images/post-img3.png">
                    <h6><a href="#">Aliquet. Aenean sollicitudin, lorem quis bibendum auctor</a></h6>
                </li>
                <li>
                    <img alt="" src="images/post-img3.png">
                    <h6><a href="#">Aliquet. Aenean sollicitudin, lorem quis bibendum auctor</a></h6>
                </li>
                <li>
                    <img alt="" src="images/post-img3.png">
                    <h6><a href="#">Aliquet. Aenean sollicitudin, lorem quis bibendum auctor</a></h6>
                </li>
                <li>
                    <img alt="" src="images/post-img3.png">
                    <h6><a href="#">Aliquet. Aenean sollicitudin, lorem quis bibendum auctor</a></h6>
                </li>
                <li>
                    <img alt="" src="images/post-img3.png">
                    <h6><a href="#">Aliquet. Aenean sollicitudin, lorem quis bibendum auctor</a></h6>
                </li>
                <li>
                    <img alt="" src="images/post-img3.png">
                    <h6><a href="#">Aliquet. Aenean sollicitudin, lorem quis bibendum auctor</a></h6>
                </li>
                <li>
                    <img alt="" src="images/post-img3.png">
                    <h6><a href="#">Aliquet. Aenean sollicitudin, lorem quis bibendum auctor</a></h6>
                </li>
                <li>
                    <img alt="" src="images/post-img3.png">
                    <h6><a href="#">Aliquet. Aenean sollicitudin, lorem quis bibendum auctor</a></h6>
                </li>
                <li>
                    <img alt="" src="images/post-img3.png">
                    <h6><a href="#">Aliquet. Aenean sollicitudin, lorem quis bibendum auctor</a></h6>
                </li>
                <li>
                    <img alt="" src="images/post-img3.png">
                    <h6><a href="#">Aliquet. Aenean sollicitudin, lorem quis bibendum auctor</a></h6>
                </li>
                <li>
                    <img alt="" src="images/post-img3.png">
                    <h6><a href="#">Aliquet. Aenean sollicitudin, lorem quis bibendum auctor</a></h6>
                </li>
                <li>
                    <a href="#"><i class="fa  fa-refresh"> 换一批</i></a>

                </li>
            </ul>
        </div>
    </div>
</div>
