<div class="single-post-content">
    <div id="youkuplayer" class="youku"></div>

    <h2>Killing the author quiz but no let up on the review process</h2>

    <p>Lorem Ipsum. Proin gravida nibh vel vel ris. Morbi accumsan ipsum velit. Nam sit </p>


</div>


<script type="text/javascript" src="http://player.youku.com/jsapi"></script>
<script type="text/javascript">
    player = new YKU.Player('youkuplayer', {
        styleid: '0',
        client_id: 'ec19ebab48d5902c',
        vid: 'XMTU4ODMxODQ2NA',
        newPlayer: true,
        autoplay: false,
        show_related: true

    });
</script>