<!-- recent-works-box -->
     <div class=" ">
        <h3>相同电影视频</h3>

            <!-- Wrapper for slides -->

                <div class="item active">
                    <div class="row">
                        <div class="col-md-3 col-sm-4 col-xs-6">
                            <div class="work-post">
                                <div class="work-post-gal">
                                    <img alt="" src="images/video2.jpeg">
                                    <div class="hover-box">
                                        <a class="zoom video" href="http://www.youtube.com/watch?v=XSGBVzeBUbk"></a>
                                    </div>
                                </div>
                                <div class="work-post-content">
                                    <h5>Iphone Wallpaper</h5>
                                    <span>smartphones</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-6">
                            <div class="work-post">
                                <div class="work-post-gal">
                                    <img alt="" src="images/video3.jpeg">
                                    <div class="hover-box">
                                        <a class="zoom video" href="http://www.youtube.com/watch?v=XSGBVzeBUbk"></a>
                                    </div>
                                </div>
                                <div class="work-post-content">
                                    <h5>Iphone Wallpaper</h5>
                                    <span>smartphones</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-6">
                            <div class="work-post">
                                <div class="work-post-gal">
                                    <img alt="" src="images/video4.jpeg">
                                    <div class="hover-box">
                                        <a class="zoom video" href="http://www.youtube.com/watch?v=XSGBVzeBUbk"></a>
                                    </div>
                                </div>
                                <div class="work-post-content">
                                    <h5>Iphone Wallpaper</h5>
                                    <span>smartphones</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-6">
                            <div class="work-post">
                                <div class="work-post-gal">
                                    <img alt="" src="images/video5.jpeg">
                                    <div class="hover-box">
                                        <a class="zoom video" href="http://www.youtube.com/watch?v=XSGBVzeBUbk"></a>
                                    </div>
                                </div>
                                <div class="work-post-content">
                                    <h5>Iphone Wallpaper</h5>
                                    <span>smartphones</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-6">
                            <div class="work-post">
                                <div class="work-post-gal">
                                    <img alt="" src="images/video6.jpeg">
                                    <div class="hover-box">
                                        <a class="zoom video" href="http://www.youtube.com/watch?v=XSGBVzeBUbk"></a>
                                    </div>
                                </div>
                                <div class="work-post-content">
                                    <h5>Iphone Wallpaper</h5>
                                    <span>smartphones</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-6">
                            <div class="work-post">
                                <div class="work-post-gal">
                                    <img alt="" src="images/video2.jpeg">
                                    <div class="hover-box">
                                        <a class="zoom video" href="http://www.youtube.com/watch?v=XSGBVzeBUbk"></a>
                                    </div>
                                </div>
                                <div class="work-post-content">
                                    <h5>Iphone Wallpaper</h5>
                                    <span>smartphones</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-6">
                            <div class="work-post">
                                <div class="work-post-gal">
                                    <img alt="" src="images/video3.jpeg">
                                    <div class="hover-box">
                                        <a class="zoom video" href="http://www.youtube.com/watch?v=XSGBVzeBUbk"></a>
                                    </div>
                                </div>
                                <div class="work-post-content">
                                    <h5>Iphone Wallpaper</h5>
                                    <span>smartphones</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-6">
                            <div class="work-post">
                                <div class="work-post-gal">
                                    <img alt="" src="images/video2.jpeg">
                                    <div class="hover-box">
                                        <a class="zoom video" href="http://www.youtube.com/watch?v=XSGBVzeBUbk"></a>
                                    </div>
                                </div>
                                <div class="work-post-content">
                                    <h5>Iphone Wallpaper</h5>
                                    <span>smartphones</span>
                                </div>
                            </div>
                        </div>




         </div>
         </div>
    </div>
