<!-- footer
			================================================== -->
<footer>
    <div class="up-footer">
        <div class="container">
        </div>
    </div>

    <div class="footer-line">
        <div class="container">
            <p>&#169; 2013 Convertible,  All Rights Reserved</p>
            <a class="go-top" href="#"></a>
        </div>
    </div>

</footer>
<!-- End footer -->
</div>


<!-- End Container -->

<!--
##############################
 - ACTIVATE THE BANNER HERE -
##############################
-->

</body>
</html>