<!doctype html>


<html lang="en" class="no-js">
<head>
    <title>没时间看电影</title>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" media="screen">
    <!-- REVOLUTION BANNER CSS SETTINGS -->
    <link rel="stylesheet" type="text/css" href="/css/fullwidth.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/css/settings.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/css/magnific-popup.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/css/responsive.css" media="screen">

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/jquery.migrate.js"></script>
    <script type="text/javascript" src="/js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/jquery.imagesloaded.min.js"></script>
    <script type="text/javascript" src="/js/jquery.isotope.min.js"></script>
    <!--<script type="text/javascript" src="/js/retina-1.1.0.min.js"></script>-->
    <script type="text/javascript" src="/js/plugins-scroll.js"></script>

    <!--&lt;!&ndash;&lt;!&ndash; jQuery KenBurn Slider  &ndash;&gt;&ndash;&gt;-->
    <!--<script type="text/javascript" src="/js/jquery.themepunch.revolution.min.js"></script>-->
    <script type="text/javascript" src="/js/script.js"></script>

    <!--&lt;!&ndash;[if lt IE 9]>-->
    <!--<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>-->
    <![endif]-->


</head>
<body>

<!-- Container -->
<div id="container">
    <!-- Header
        ================================================== -->
    <header class="clearfix">
        <!-- Static navbar -->
        <div class="navbar navbar-default navbar-fixed-top">

            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img alt="" src="/images/logo.png"></a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">

                        <li class="drop"><a class="active" href="/movies">TOP250</a>
                            <ul class="drop-down">
                                <li><a href="index.html"><img alt="" src="/images/douban.png" style="width: 24px"> 豆 瓣 250</a></li>
                                <li><a href="home-shop.html"><img alt="" src="/images/imdb.png" style="width: 24px"> imdb 250</a></li>
                            </ul>
                        </li>
                        <li class="drop"><a href="/videos">分类筛选</a>
                            <ul class="drop-down">
                                <li><a href="index.html">经典重温</a></li>
                                <li><a href="index.html">恐怖悬疑</a></li>
                                <li><a href="index.html">烂片吐槽</a></li>
                                <li><a href="index.html">电视剧</a></li>
                            </ul>
                        </li>
                        <li class="drop"><a href="/show">讲故事高手</a>
                            <ul class="drop-down">
                                <li><a href="blog-one-col.html"><img alt="" src="/images/head1.jpeg" style="width: 24px"> 瓜阿摸</a></li>
                                <li><a href="blog-one-col.html"><img alt="" src="/images/head2.jpeg" style="width: 24px"> 阿扁</a></li>
                                <li><a href="blog-one-col.html"><img alt="" src="/images/head3.jpeg" style="width: 24px"> 又不电影</a></li>
                                <li><a href="blog-one-col.html"><img alt="" src="/images/head4.jpeg" style="width: 24px"> 大师戏弄</a></li>
                                <li><a href="blog-one-col.html"><img alt="" src="/images/head5.jpeg" style="width: 24px"> 大师戏弄</a></li>

                            </ul>
                        </li>
                        <li class="drop"><a href="/awards">更多奖项</a>
                            <ul class="drop-down">
                                <li><a href="portfolio-2col.html"><img alt="" src="/images/oscar.png" style="width: 24px"> Portfolio 2col</a></li>
                                <li><a href="portfolio-2col.html"><img alt="" src="/images/oscar.png" style="width: 24px"> Portfolio 2col</a></li>
                                <li><a href="portfolio-2col.html"><img alt="" src="/images/oscar.png" style="width: 24px"> Portfolio 2col</a></li>
                                <li><a href="portfolio-2col.html"><img alt="" src="/images/oscar.png" style="width: 24px"> Portfolio 2col</a></li>
                                <li><a href="portfolio-2col.html"><img alt="" src="/images/oscar.png" style="width: 24px"> Portfolio 2col</a></li>
                                <li><a href="portfolio-2col.html"><img alt="" src="/images/oscar.png" style="width: 24px"> Portfolio 2col</a></li>
                            </ul>
                        </li>
                        <li><a href="about.html">电影人</a></li>



                    </ul>
                </div>
            </div>
        </div>
    </header>