<div id="content">
    <!-- blog-box Banner -->
    <div class="blog-box with-nosidebar">
        <div class="container">

            <div class="row">
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="item news-item">
                        <div class="inner-item">
                            <img alt="" src="images/m1.jpg">
                            <div class="hover-item">
                                <ul>
                                    <li><a class="autor" href="#"><i class="fa fa-user"></i> TrendyStuff</a></li>
                                    <li><a class="date" href="#"><i class="fa fa-clock-o"></i> 19 October, 2013</a></li>
                                    <li><a class="comment-numb" href="#"><i class="fa fa-comments"></i> 16 Comments</a></li>
                                </ul>
                            </div>
                        </div>
                        <h5>Killing the author quiz but no let up on the review process</h5>
                        <p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit </p>
                        <a class="read-more" href="single-post.html">read more <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="item news-item">
                        <div class="inner-item">
                            <img alt="" src="images/m2.jpg">
                            <div class="hover-item">
                                <ul>
                                    <li><a class="autor" href="#"><i class="fa fa-user"></i> TrendyStuff</a></li>
                                    <li><a class="date" href="#"><i class="fa fa-clock-o"></i> 19 October, 2013</a></li>
                                    <li><a class="comment-numb" href="#"><i class="fa fa-comments"></i> 16 Comments</a></li>
                                </ul>
                            </div>
                        </div>
                        <h5>Killing the author quiz but no let up on the review process</h5>
                        <p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit </p>
                        <a class="read-more" href="single-post.html">read more <i class="fa fa-arrow-right"></i></a>

                    </div>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="item news-item">
                        <div class="inner-item">
                            <img alt="" src="images/m3.jpg">
                            <div class="hover-item">
                                <ul>
                                    <li><a class="autor" href="#"><i class="fa fa-user"></i> TrendyStuff</a></li>
                                    <li><a class="date" href="#"><i class="fa fa-clock-o"></i> 19 October, 2013</a></li>
                                    <li><a class="comment-numb" href="#"><i class="fa fa-comments"></i> 16 Comments</a></li>
                                </ul>
                            </div>
                        </div>
                        <h5>Killing the author quiz but no let up on the review process</h5>
                        <p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit</p>
                        <a class="read-more" href="single-post.html">read more <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="item news-item">
                        <div class="inner-item">
                            <img alt="" src="images/m4.jpg">
                            <div class="hover-item">
                                <ul>
                                    <li><a class="autor" href="#"><i class="fa fa-user"></i> TrendyStuff</a></li>
                                    <li><a class="date" href="#"><i class="fa fa-clock-o"></i> 19 October, 2013</a></li>
                                    <li><a class="comment-numb" href="#"><i class="fa fa-comments"></i> 16 Comments</a></li>
                                </ul>
                            </div>
                        </div>
                        <h5>Killing the author quiz but no let up on the review process</h5>
                        <p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit</p>
                        <a class="read-more" href="single-post.html">read more <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="item news-item">
                        <div class="inner-item">
                            <img alt="" src="images/m5.jpg">
                            <div class="hover-item">
                                <ul>
                                    <li><a class="autor" href="#"><i class="fa fa-user"></i> TrendyStuff</a></li>
                                    <li><a class="date" href="#"><i class="fa fa-clock-o"></i> 19 October, 2013</a></li>
                                    <li><a class="comment-numb" href="#"><i class="fa fa-comments"></i> 16 Comments</a></li>
                                </ul>
                            </div>
                        </div>
                        <h5>Killing the author quiz but no let up on the review process</h5>
                        <p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit</p>
                        <a class="read-more" href="single-post.html">read more <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="item news-item">
                        <div class="inner-item">
                            <img alt="" src="images/m6.jpg">
                            <div class="hover-item">
                                <ul>
                                    <li><a class="autor" href="#"><i class="fa fa-user"></i> TrendyStuff</a></li>
                                    <li><a class="date" href="#"><i class="fa fa-clock-o"></i> 19 October, 2013</a></li>
                                    <li><a class="comment-numb" href="#"><i class="fa fa-comments"></i> 16 Comments</a></li>
                                </ul>
                            </div>
                        </div>
                        <h5>Killing the author quiz but no let up on the review process</h5>
                        <p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit</p>
                        <a class="read-more" href="single-post.html">read more <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- End content -->