
<div class="item news-item">
    <div class="inner-item">
        <img alt="" src="upload/photo2.jpg">
        <div class="hover-item">
            <ul>
                <li><a class="autor" href="#"><i class="fa fa-user"></i> TrendyStuff</a></li>
                <li><a class="date" href="#"><i class="fa fa-clock-o"></i> 19 October, 2013</a></li>
                <li><a class="comment-numb" href="#"><i class="fa fa-comments"></i> 16 Comments</a></li>
            </ul>
        </div>
    </div>
    <h5>Killing the author quiz but no let up on the review process</h5>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
    <a class="read-more" href="single-post.html">read more <i class="fa fa-arrow-right"></i></a>
</div>

<div class="item news-item">
    <div class="inner-item">
        <img alt="" src="upload/photo2.jpg">
        <div class="hover-item">
            <ul>
                <li><a class="autor" href="#"><i class="fa fa-user"></i> TrendyStuff</a></li>
                <li><a class="date" href="#"><i class="fa fa-clock-o"></i> 19 October, 2013</a></li>
                <li><a class="comment-numb" href="#"><i class="fa fa-comments"></i> 16 Comments</a></li>
            </ul>
        </div>
    </div>
    <h5>Killing the author quiz but no let up on the review process</h5>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
    <a class="read-more" href="single-post.html">read more <i class="fa fa-arrow-right"></i></a>
</div>

<div class="item news-item">
    <div class="inner-item">
        <img alt="" src="upload/photo1.jpg">
        <div class="hover-item">
            <ul>
                <li><a class="autor" href="#"><i class="fa fa-user"></i> TrendyStuff</a></li>
                <li><a class="date" href="#"><i class="fa fa-clock-o"></i> 19 October, 2013</a></li>
                <li><a class="comment-numb" href="#"><i class="fa fa-comments"></i> 16 Comments</a></li>
            </ul>
        </div>
    </div>
    <h5>Killing the author quiz but no let up on the review process</h5>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
    <a class="read-more" href="single-post.html">read more <i class="fa fa-arrow-right"></i></a>
</div>

<div class="item news-item">
    <div class="inner-item">
        <img alt="" src="upload/photo3.jpg">
        <div class="hover-item">
            <ul>
                <li><a class="autor" href="#"><i class="fa fa-user"></i> TrendyStuff</a></li>
                <li><a class="date" href="#"><i class="fa fa-clock-o"></i> 19 October, 2013</a></li>
                <li><a class="comment-numb" href="#"><i class="fa fa-comments"></i> 16 Comments</a></li>
            </ul>
        </div>
    </div>
    <h5>Killing the author quiz but no let up on the review process</h5>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
    <a class="read-more" href="single-post.html">read more <i class="fa fa-arrow-right"></i></a>
</div>

<div class="item news-item">
    <div class="inner-item">
        <img alt="" src="upload/photo1.jpg">
        <div class="hover-item">
            <ul>
                <li><a class="autor" href="#"><i class="fa fa-user"></i> TrendyStuff</a></li>
                <li><a class="date" href="#"><i class="fa fa-clock-o"></i> 19 October, 2013</a></li>
                <li><a class="comment-numb" href="#"><i class="fa fa-comments"></i> 16 Comments</a></li>
            </ul>
        </div>
    </div>
    <h5>Killing the author quiz but no let up on the review process</h5>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
    <a class="read-more" href="single-post.html">read more <i class="fa fa-arrow-right"></i></a>
</div>

<ul class="pagination-list">
    <li><a class="active" href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
</ul>