<!-- content
			================================================== -->
<div class="portfolio-box with-4-col">

    <div class="container">

        <div class="portfolio-container">


            <% classics.forEach(function (classic) { %>

            <div class="work-post web-design brochures">
                <div class="work-post-gal">
                    <img alt="" src="upload/image1.jpg">

                    <div class="hover-box">
                        <a class="zoom video" href="http://www.youtube.com/watch?v=XSGBVzeBUbk"></a>
                        <a class="page" href="single-project.html"></a>
                    </div>
                </div>
                <div class="work-post-content">
                    <h5><%= classic.cName %></h5>
                    <span>包含电影数量：<%= classic.doubanid.length %></span>
                    <span><%= classic.shortDescription %></span>
                    <span><%= classic.tags %></span>
                </div>
            </div>



            <% }) %>

        </div>



    </div>
</div>
<!-- End content -->